<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Computer Information</title>

  <!-- import the webpage's stylesheet -->
  <link rel="stylesheet" href="/style.css" />

  <!-- import jquery-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- import the webpage's client-side javascript file -->
  <script href="/client.js" defer></script>
</head>

<body>
  <h1>Computer Information</h1>

  <table style="width:100%" id="databaseInfo">
    <tr>
      <th>IField</th>
      <th>IValue</th>
      <th>Computer Name</th>
    </tr>
    {{#Report}}
    <tr>
      <td>{{IField}}</td>
      <td>{{IValue}}</td>
      <td>{{RHost}}</td>
    </tr>
    {{/Report}}
  </table>
</body>

</html>