<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>JMU CSM Tech Support</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/home.css" />

    <!-- import jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- import the webpage's client-side javascript file -->
    <script type="text/javascript" src="/client.js" defer></script>
</head>

<body class="body-for-sticky">
    <header class="headercontainer">
        <img src="/images/jmuheader.jpg" class="headerimg">
    </header>

    <div class="navbar">
        <!-- links for navbar -->
        <div class="links">
            <a href="https://webmail.jmu.edu">JMU Web Mail </a>|
            <a href="http://www.jmu.edu">JMU Home</a> | <a href="http://ecampus.jmu.edu/">E-Campus&nbsp;</a>
        </div>

        <!-- csm img -->
        <div>
            <img src="images/logoBeige.jpg">
        </div>

        <!-- links for navbar -->
        <div class="links">
            <a href="https://www.jmu.edu/csm/">CSM </a>|<a href="#">Weather
            </a>|<a href="https://www.jmu.edu/map/">Site map</a>
            | <a href="miller_faq.asp">FAQ</a> |<a
                href="https://www.jmu.edu/chemistry/people/all-people/staff/shiflet-winston.shtml">Contact Us
            </a>
        </div>
    </div>

    <main>
        <table class="maintable">
            <td class="lefttd">
                <div class="admintools">
                    <div style="background-color:#7F91A5; color: white;">
                        <h3 style="padding: 5px;">
                            Admin Tools
                        </h3>
                    </div>
                    <div style="padding-left: 10px; padding-right: 10px; padding-bottom: 10px;">
                        <a href="/SearchAida">Search Aida64 Database</a> <br><br>
                        <a href="/SearchPcTrack">Search PC Track Database</a> <br><br>
                        <a href="/pctrack">PC Track Form</a>
                    </div>
                    <div class="infobutton">
                        <form method="POST" action="/printerinfo">
                            <input type="submit" id="infobuttons" name="submit" value="Get Printer Info">
                        </form>
                    </div>

                    <div class="infobutton">
                        <form method="POST" action="/softwarecount">
                            <input type="submit" id="infobuttons" name="submit" value="Get Software Count">
                        </form>
                    </div>
                </div>

                <div class="admintools">
                    <div style="background-color:#7F91A5; color: white;">
                        <h3 style="padding: 5px;">
                            Today's Hot Tip
                        </h3>
                    </div>
                    <div style="padding-left: 10px; padding-right: 10px; padding-bottom: 10px;">
                        <p> <img src="/images/chili.png" width="20px" style="margin:0;padding:0">Java is to
                            JavaScript what car is to Carpet</p>
                    </div>
                </div>
            </td>

            <td class="centertd">
                <div>
                    <h1>JMU CSM Tech Support</h1>
                    <p>
                        CSM Computer Support provides services and instruction supporting the computing needs of
                        College of Science and Mathematics Faculty, Staff, and Students
                    </p>
                    <img src="/images/A3building1.jpg">
                </div>
            </td>

            <td class="righttd">
                <div>
                    <img src="/images/A3building2.jpg">
                </div>
            </td>
        </table>
    </main>

    <div class="footer sticky-footer">
        <img src="/images/jm_logo.gif">
    </div>
</body>

</html>