<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>JMU CSM Tech Support</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- import the webpage's client-side javascript file -->
    <script type="text/javascript" src="/client.js" defer></script>
</head>

<body class="body-for-sticky">
    <header class="headercontainer">
        <img src="/images/jmuheader.jpg" class="headerimg">
    </header>

    <main>
        <h1>JMU CSM Tech Support</h1>

        <h2>Get Info By Computer</h2>
        <div class="buttoncontainer">
            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">Hardware</button>
                <div id="myDropdown" class="dropdown-content">
                    {{#Names}}
                    <form method="POST" action="/hardware">
                        <input type="submit" name="submit" value={{RHost}}>
                    </form>
                    {{/Names}}
                </div>
            </div>

            <div class="dropdown3">
                <button onclick="myFunction3()" class="dropbtn3">Software</button>
                <div id="myDropdown3" class="dropdown-content3">
                    {{#Names}}
                    <form method="POST" action="/software">
                        <input type="submit" name="submit" value={{RHost}}>
                    </form>
                    {{/Names}}
                </div>
            </div>
        </div>

        <h2>Search PcTrack</h2>

        <div class="buttoncontainer">
            <div class="dropdown2">
                <button onclick="myFunction2()" class="dropbtn2">By Computer</button>
                <div id="myDropdown2" class="dropdown-content2">
                    {{#Names}}
                    <form method="POST" action="/pctrackinfo">
                        <input type="submit" name="submit" value={{RHost}}>
                    </form>
                    {{/Names}}
                </div>
            </div>

            <div class="dropdown4">
                <button onclick="myFunction4()" class="dropbtn4">By Department</button>
                <div id="myDropdown4" class="dropdown-content4">
                    <form method="POST" action="/department">
                        <input id="button" type="submit" name="submit" value=CHEM>
                    </form>
                    <form method="POST" action="/department">
                        <input id="button" type="submit" name="submit" value=BIO>
                    </form>
                    <form method="POST" action="/department">
                        <input id="button" type="submit" name="submit" value=PHYS>
                    </form>
                    <form method="POST" action="/department">
                        <input id="button" type="submit" name="submit" value=GEO>
                    </form>
                    <form method="POST" action="/department">
                        <input id="button" type="submit" name="submit" value=MATH>
                    </form>
                </div>
            </div>
        </div>

        <h2>Other Info</h2>

        <div class="buttoncontainer">
            <div class="infobutton">
                <form method="POST" action="/printerinfo">
                    <input type="submit" id="printerbutton" name="submit" value="Get Printer Info">
                </form>
            </div>

            <div class="infobutton">
                <form method="POST" action="/softwarecount">
                    <input type="submit" id="printerbutton" name="submit" value="Get Software Count">
                </form>
            </div>
        </div>

        <h2><a href="/pctrack">PC Track Form</a></h2>
    </main>

    <div class="footer sticky-footer">
        <img src=/images/jm_logo.gif>
    </div>
</body>

</html>