<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>JMU CSM Tech Support</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- import the webpage's client-side javascript file -->
    <script type="text/javascript" src="/client.js" defer></script>
</head>

<body class="body-for-sticky">
    <header class="headercontainer">
        <img src="/images/jmuheader.jpg" class="headerimg">
    </header>

    <div class="navbar">
        <!-- links for navbar -->
        <div class="links">
            <a href="https://webmail.jmu.edu">JMU Web Mail </a>|
            <a href="http://www.jmu.edu">JMU Home</a> | <a href="http://ecampus.jmu.edu/">E-Campus&nbsp;</a> 
        </div>

        <!-- csm img -->
        <div>
            <img src="/images/logoBeige.jpg">
        </div>

        <!-- links for navbar -->
        <div class="links">
            <a href="https://www.jmu.edu/csm/">CSM </a>|<a href="#">Weather
            </a>|<a href="https://www.jmu.edu/map/">Site map</a>
            | <a href="miller_faq.asp">FAQ</a> |<a href="https://www.jmu.edu/chemistry/people/all-people/staff/shiflet-winston.shtml"> Contact Us
            </a>
        </div>
    </div>

    <main>
        <h1>JMU CSM Tech Support</h1>

        <h2>Search PcTrack</h2>

        <div class="buttoncontainer">
            <div class="dropdown2">
                <button onclick="myFunction2()" class="dropbtn2">By Computer</button>
                <div id="myDropdown2" class="dropdown-content2">
                    {{#Names}}
                    <form method="POST" action="/pctrackinfo">
                        <input type="submit" name="submit" value={{RHost}}>
                    </form>
                    {{/Names}}
                </div>
            </div>

            <div class="dropdown4">
                <button onclick="myFunction4()" class="dropbtn4">By Department</button>
                <div id="myDropdown4" class="dropdown-content4">
                    <form method="POST" action="/department">
                        <input id="button" type="submit" name="submit" value=CHEM>
                    </form>
                    <form method="POST" action="/department">
                        <input id="button" type="submit" name="submit" value=BIO>
                    </form>
                    <form method="POST" action="/department">
                        <input id="button" type="submit" name="submit" value=PHYS>
                    </form>
                    <form method="POST" action="/department">
                        <input id="button" type="submit" name="submit" value=GEO>
                    </form>
                    <form method="POST" action="/department">
                        <input id="button" type="submit" name="submit" value=MATH>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <div class="footer sticky-footer">
        <img src="/images/jm_logo.gif">
    </div>
</body>

</html>