<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Computer Information</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- import the webpage's client-side javascript file -->
    <script type="text/javascript" src="/client.js" defer></script>
</head>

<body class="body-for-sticky">
    <div class="headercontainer">
        <img src="/images/jmuheader.jpg" class="headerimg">
    </div>

    <div class="navbar">
        <!-- links for navbar -->
        <div class="links">
            <a href="https://webmail.jmu.edu">JMU Web Mail </a>|
            <a href="http://www.jmu.edu">JMU Home</a> | <a href="http://ecampus.jmu.edu/">E-Campus&nbsp;</a> |
            <a href="http://blackboard.jmu.edu/webapps/portal/frameset.jsp">
                Blackboard&nbsp;</a>
        </div>

        <!-- csm img -->
        <div>
            <img src="/images/logoBeige.jpg">
        </div>

        <!-- links for navbar -->
        <div class="links">
            <a href="https://www.jmu.edu/csm/">CSM </a>|<a href="weather2.asp">Weather
            </a>|<a href="https://www.jmu.edu/map/">Site map</a>
            | <a href="miller_faq.asp">FAQ</a> |<a
                href="https://www.jmu.edu/chemistry/people/all-people/staff/shiflet-winston.shtml">Contact Us
            </a>
        </div>
    </div>

    <h1>Software Count</h1>

    <div class="tablecontainer">
        <table style="width:100%" id="databaseInfo">
            <tr>
                <th>Count</th>
                <th>IDevice</th>
            </tr>
            {{#Report}}
            <tr>
                <td>{{Expr1000}}</td>
                <td>
                    <form method="POST" action="/softwarecount-computernames">
                        <input type="submit" name="submit" value="{{IDevice}}">
                    </form>
                </td>
            </tr>
            {{/Report}}
        </table>
    </div>

    <div class="footer sticky-footer">
        <img src=/images/jm_logo.gif>
    </div>
</body>

</html>