@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

html {
  font-family: 'Inter', sans-serif;
  height: 100%;              /* for the page to take full window height */
  box-sizing: border-box;    /* to have the footer displayed at the bottom of the page without scrolling */
}

body {
  margin: 0;
  padding: 0;
}

 /* style header */
.headerimg {
  width: 100%;
  margin: 0;
  top: 0;
  left: 0;
  max-height: 200px;
}


/* style footer */
*,
*:before,
*:after {
  box-sizing: inherit;       /* enable the "border-box effect" everywhere */
}

.body-for-sticky {
  position: relative;        /* for the footer to move with the page size */
  min-height: 100%;          /* for the footer to be at the bottom */
  padding-bottom: 6rem;      /* Space available between last element and bottom border of the page */
}

.sticky-footer {
  position: absolute;        /* for it to disappear under last body element */
  bottom: 0;                 /* so the footer can stick to the bottom*/
  margin-top: 100px;
}

.footer {
  width: 100%;
  background-color: #E8E8CD;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 1rem;
}

/* style navbar */
.navbar {
  background-color: #E8E8CD;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 10px;
  margin-top: -10px;
}

.navbar div {
  flex-grow: 3;
  text-align: center;
}

.links {
  width: 40%;
}

h1, form {
  margin-left: 10px;
}

td, th {
  vertical-align:top;
}

.centertd {
  text-align: center;
  width: 50%;
  padding-bottom: 20px;
}

.lefttd, .righttd {
    width: 25%;
}

.righttd {
    text-align: center;
}

.admintools {
  background-color: #D9D9D9;
  border-radius: 5px;
}

.admintools a {
  margin-top: 5px;
  margin-bottom: 5px;
}

#infobuttons {
  background: none;
  border: none;
  padding: 0;
  color: rgb(0, 0, 0);
  text-decoration: underline;
  cursor: pointer;
  font-size: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
 
/* Dropdown Button */
.dropbtn, .dropbtn2, .dropbtn3, .dropbtn4, .dropbtn5, .dropbtn6 {
    font-size: 16px;
    cursor: pointer;
}
  
/* The container <div> - needed to position the dropdown content */
.dropdown, .dropdown2, .dropdown3,.dropdown4, .dropdown5,.dropdown6 {
    position: relative;
    display: inline-block;
}
  
/* Dropdown Content (Hidden by Default) */
.dropdown-content, .dropdown-content2, .dropdown-content3, .dropdown-content4, .dropdown-content5, .dropdown-content6 {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    max-height: 250px;
    overflow-y: auto;
}
  
/* Links inside the dropdown */
.dropdown-content p, .dropdown-content2 p, .dropdown-content3 p, .dropdown-content4 p, .dropdown-content5 p, .dropdown-content6 p{
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
}
  
/* Change color of dropdown links on hover */
.dropdown-content p:hover, .dropdown-content2 p:hover,.dropdown-content3 p:hover, .dropdown-content4 p:hover, .dropdown-content5 p:hover, .dropdown-content6 p:hover  {background-color: #ddd}
  
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;} 